@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /*background-color: #666;*/
}

table {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 80%;
    text-align: center;
    /*
  border-collapse: collapse;
  border: 5px solid #333;
  border-radius: 30px;
  */
    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden;
    /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 3px rgb(0, 0, 0);
    /* this draws the table border  */
}

th {
    padding: 2%;
}

.list {
    text-align: left;
    margin-left: 10%;
}

td {
    padding: 10px;
    width: 10%;
    border: 3px solid rgb(0, 0, 0);
}

tr :nth-child(2) {
    color: rgb(0, 160, 0);
}